tqdm==4.67.1
transformers==4.51.3
whisper_normalizer==0.1.12
PyYAML==6.0.2
datasets==4.0.0
accelerate
bitsandbytes
json_repair
jiwer
librosa
peft
requests
soundfile
datasets==2.19.1
numpy
tensorboard
whisper_normalizer==0.1.12
huggingface_hub==0.36.0
PyYAML==6.0.2