accelerate==1.8.1
bitsandbytes==0.45.3
flash_attn==2.7.4.post1
json_repair==0.50.0
jiwer==3.1.0
librosa==0.11.0
peft==0.16.0
PyYAML==6.0.2
requests==2.32.4
soundfile==0.13.1
tokenizers==0.21.2
tqdm==4.67.1
torch==2.7.1+rocm6.3
torchaudio==2.7.1+rocm6.3
transformers==4.51.3
datasets==4.0.0
tensorboard==2.19.0
